html, body {
    height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: #80b0ff;
	font-family: Consolas, Verdana;
}


.master_container {
	width: 80%;
	height: 100%;

    margin: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: #00000000; */
    visibility: hidden;
}

.weather_container, .lastfm_container {
    width: 49.5%;
    height: 80%;

    background-color: #ffffff44;
    border-radius: 0.5em;

    text-align: center;

    visibility: visible;
    padding-top: 2em;
}

.weather_container h1, .lastfm_container h1 {
    font-size: 3.5em;
}

.weather_container h2 {
    margin-bottom: 0.25em;
    font-size: 3em;
}

.weather_container h3 {
    margin-top: 0.25em;
    font-size: 2em;
}

.weather_info {
    width: 49.5%;

    margin: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*
.lastfm_container {
    width: 49.5%;
    height: 80%;
    background-color: #ffffff44;

    text-align: center;

    visibility: visible;
}
*/
