<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/frontend/stylesheet.css">
	<link rel="icon" type="image/icon" href="/frontend/assets/icon.png">
	<title>DyTempest</title>
</head>
<body>

<div class="master_container">
    <div class="weather_container">
        <h1>Current Weather</h1>
        <img src="/frontend/assets/weather_icons/{{"day" if current_data["is_day"] else "night"}}/{{current_data["condition"]["code"]}}.svg">
        <h2>{{current_data["condition"]["text"]}}</h2>
        <h3>Currently {{current_data["temp_f"]}}°F</h2>
        <h4>Feels Like {{current_data["feelslike_f"]}}°F</h3>
        <div class="weather_info">
            <div class="water_info">
                <p>Precipitation: {{current_data["precip_mm"]}} mm</p>
                <p>Humidity: {{current_data["humidity"]}}%</p>
            </div>
            <div class="air_info">
                <p>Wind: {{current_data["wind_mph"]}} mph</p>
                <p>Cloud Coverage: {{current_data["cloud"]}}%</p>
            </div>
        </div>
    </div>
    <div class="lastfm_container">
        <h1>Music For You</h1>
        <div class="tracks_container">
        {% for track in tracks %}
            <div class="track_container">
                <a href={{track["url"]}}>{{track["name"]}}<a>
                <p>{{track["artist"]["name"]}}</p>
            </div>
        {% endfor %}
        </div>
    </div>
</div>

</body>
</html>

